

.imgTd {
   display: flex;
   justify-content: center;
}

.imgWrap {
    width: 100px;
    height: 100px;
    background-color: red;
}

.imgWrap img {
    width: 100%;
    object-fit: cover;
}

.paginationBtns {
    list-style: none;
    display: flex;
    justify-content: center; 
}

.paginationActive {
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: #0B5ED7;
}

.prevBtn {
    text-decoration: none;
    font-size: large;
}
.paginationBtns a {
    margin: 15px;
    padding : 5px 5px;
    font-size: large;
    font-weight: 600;
}
.nextBtn {
    text-decoration: none;
}

.paginationDisabled {
    color: gray;
}

.paginationDisabled:hover {
    color: gray;
    cursor: not-allowed;
}