.admin {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.admin__navigation {
    background-color: #1E293B;
    padding: 15px 15px;
    color: #D5E8F0;
    display: flex;
    flex-direction: column;
}
.admin__navigation > span {
    padding: 12px 12px;
    font: 14px sans-serif;
    font-weight: 550;
}
.Outlet {
    flex-grow: 1;
}


