.header__name {
  text-decoration: none;
}

.header__right {
  display: flex;
}
.nav__header .header-wrapper {
  background-color: wheat;
  color: white;
}
.dangnhap {
  text-decoration: none;
  background: white;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.dangky {
  text-decoration: none;
  background: white;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.menu__header > a {
  text-decoration: none;
  color: #000;
}

.nav__header .ps__logo img {
  width: auto;
  height: 275px;
}

.nav__header .header__right p {
  color: black;
}
.nav__header .header__right .badge {
  position: absolute;
  border: 1px solid gray;
  font-size: 10px;
  border-radius: 4px;
  color: white;
  background-color: #4374d0;
  padding: 5px;
  top: 26px;
  right: 119px;
}
