.headerTop {
    height: 60px;
    align-items: center;
    background-color: bisque;
}

.headerNavbar {
   background-color: cornflowerblue;
}

.headerNavbar .navWrap {
    display: flex;
    align-items: center;
    color: white;
}

.headerNavbar .navWrap .nav  {
    margin: 10px 20px;
    color: white;
}